@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=IBM+Plex+Sans:wght@500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden font-body;
}

input,
textarea,
select {
  @apply font-display font-light;
}

.base-wrapper {
  @apply my-24 lg:my-36 px-6 xl:px-0;
}

.content-width {
  max-width: 1220px;
}

*:focus-visible {
  outline-color: #e55252;
  outline-style: auto;
  outline-offset: 3px;
  outline-width: 2px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

*:hover {
  @apply transition duration-150 ease-in-out;
}
